<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeepScan</title>
</head>
<body>
    <form id="uploadForm"  enctype="multipart/form-data">
        <label for="video-upload">Choose file to upload</label>
        <input type="file" id="video-upload" name="videoFile" accept="video/*">
        <button id="uploadBtn" type="submit">Upload video</button>
    </form>
        <script src="/static/script.js"></script>
</body>
</html>